:root {
	--skeletor-animation--duration: 0.2s;
	--skeletor-animation--timing: ease-in-out;
	--skeletor-animation--delay: 0.2s;
	--skeletor-animation--fill-mode: forwards;
}

.has-animation {
	animation-duration: var(--skeletor-animation--duration, 0.2s);
	animation-timing-function: var(--skeletor-animation--timing, ease-in-out);
	animation-delay: var(--skeletor-animation--delay, 0.2s);
	animation-fill-mode: var(--skeletor-animation--fill-mode, forwards);

		&:not(.block-editor &) {
		@media screen and (min-width: 800px) {
			&.animation-fade-in {
				opacity: 0;
			}

			&.animation-slide-up {
				opacity: 0;
				transform: translate(0,20px);
			}

			&.animation-slide-right {
				transform: translate(-100px, 0);
				opacity: 0;
			}

			&.animation-slide-left {
				transform: translate(100px, 0);
				opacity: 0;
			}
		}
	}
}

.has-animation.visible {
	@media screen and (min-width: 800px) {
		&.animation-fade-in {
			animation-name: fadeIn;
		}

		&.animation-slide-up {
			animation-name: slideUp;
		}

		&.animation-slide-right {
			animation-name: slideRight;
		}

		&.animation-slide-left {
			animation-name: slideLeft;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translate(0, 20px);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes slideRight {
	from {
		transform: translate(-100px, 0);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes slideLeft {
	from {
		transform: translate(100px, 0);
		opacity: 0;
	}

	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}
